# Data Science Tools and Ecosystem

#### In this Notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular languages for Data Science
* list of commonly used libraries used by Data Scientists
* list of tools for Data Science

## Author
ChaoZhang Zhou

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
--------------------
|MySQL|
|Apache AirFlow|
|Apache Kafka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is simple arithmtic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335